NODE_ENV=development
PORT=4000
API_PREFIX=api/v1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/anaya_gallery?schema=public

JWT_SECRET=change-me-in-production-use-long-random-string
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-use-long-random-string
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CORS_ORIGIN=http://localhost:3000
